.div-footer {
    background-color: #333;
    color: white;
    text-align: center;
        
    width: 100%;
    display: flex;  /* Activa Flexbox */
    justify-content: justify;  /* Centra los elementos horizontalmente */
    padding: 5px;
  }
  
  .div-footer div {
    margin: 0 280px;  /* Ajusta el espacio entre los elementos */
  }

  .divTitulo{
    text-align: center;
    color: black;
    background-color: red;
  }

  .Introduccion{
    background-color: black;
    flex-grow: 1; /* Hace que el contenedor de los párrafos crezca para ocupar el espacio disponible */
  overflow-y: auto; /* Si el contenido es demasiado largo, aparecerá un scroll */
  padding: 20px;
  }
  
 .div-home{
  background-color: black;
  color: white;
  min-height: 100vh; /* Asegura que el div ocupe toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Organiza los componentes de arriba hacia abajo */

 }

/*   login*/
.bodyLogin , .bodyLogOut{
    background-color: black;   /* Fondo negro */
    color: white;              /* Texto en blanco para que sea visible en el fondo negro */
    min-height: 100vh;          /* Asegura que el fondo ocupe toda la altura de la ventana */
    display: flex;              /* Usamos flexbox para centrar el formulario */
    justify-content: center;    /* Centrado horizontal */
    align-items: center;        /* Centrado vertical */
  }
  
  .FormLogin {
    width: 150%;
    max-width: 800px;
    padding: 20px;              /* Un poco de espacio alrededor del formulario */
    background-color: #333;     /* Fondo oscuro para el formulario */
    border-radius: 8px;         /* Bordes redondeados para el formulario */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para que resalte */
  }
  
  .FormLogin .form-control {
    background-color: #555;     /* Fondo oscuro para los inputs */
    color: white;               /* Texto en blanco dentro de los inputs */
    border: 1px solid #444;     /* Borde sutil para los inputs */
  }
  
  .FormLogin .form-control::placeholder {
    color: #bbb;                /* Color del texto del placeholder */
  }
  
  .FormLogin .btn-primary {
    background-color: #007bff;  /* Color personalizado para el botón */
    border-color: #007bff;      /* Borde del botón */
  }
  
  .FormLogin .btn-primary:hover {
    background-color: #0056b3;  /* Color del botón cuando se pase */
  }
  /* fin login*/

  /* home -> homeusu*/

    
    .bodyHusu ,  .bodyEstadisticas ,  .bodyReporte , .bodyAltaAdmin , .bodyAltaUsuario{
    background-color: black;   /* Fondo negro */
    color: white;              /* Texto en blanco para que sea visible en el fondo negro */
    min-height: 100vh;          /* Asegura que el fondo ocupe toda la altura de la ventana */
    display: flex;              /* Usamos flexbox para centrar el formulario */
    justify-content: center;    /* Centrado horizontal */
    align-items: center;        /* Centrado vertical */
  }
  /*fin / home -> homeusu */
  .bodyEdicionUser , .bodyEdicionAdmin , .infoCard , .infoProducts{
    background-color: black;   /* Fondo negro */
    color: white;              /* Texto en blanco para que sea visible en el fondo negro */
    min-height: 100vh;          /* Asegura que el fondo ocupe toda la altura de la ventana */
    display: flex;              /* Usamos flexbox para centrar el formulario */
    justify-content: center;    /* Centrado horizontal */
    align-items: center;        /* Centrado vertical */
  }
   .parrafoInfoCard , .parrafoInfoProducts{
    justify-content: center;    /* Centrado horizontal */
    align-items: center;        /* Centrado vertical */
    background-color: black;
    color: white;              /* Texto en blanco para que sea visible en el fondo negro */
    text-align: center;
   }